.header {
    font-size: 50px;
    text-align: center;
    height: 100px;
    background-color: red;

    color: rgb(106, 0, 255);
}	
    .header a{
    font-weight: 500;
    margin-right: 20px;
    padding-bottom: 2%;
    color: whitesmoke;
}
}


.contaner{
     overflow: hidden;
}
.blog{
    float: left;
    width: 65%;
    height: 1000px;
    background-color: gold;
    text-align: center;
    font-size: 50px;
    color: red;
 }    
 .write{
    font-size: 20px;
    color: white;
 }
 .contract{
    float: right;
    width: 35%;
    height: 1000px;
    background-color: yellow;
    font-size: 50px;
    text-align: center;
 }
 .footer{
    height: 100px;
    background-color: black;
    color: yellow;
    text-align: center;
    font-size: 50px;
 }